.dark-theme {
    --background-color: #000;
    --navbar-color: #292e35;
    --navbar-text-color: #fff;
    --main-background-color: #12171b;
    --main-text-color: rgba(255,255,255);
    --second-text-color: rgb(210,210,210);
    --third-text-color:rgb(120,120,120);
    --nav-link-color: #ffffff;
    --nav-link-active-color:rgb(255, 166, 0);
    --nav-link-active-hover-color: rgb(255, 196, 86);
    --doc-section-background-color: #0d0d0d;
    --doc-background-color: #1f1f1f;
    --doc-p-color: #cecece;
    --box-shadow-around: none;
    --sidebar-background-color: rgb(25,25,25);
    --sidebar-text-color: #fff;
    --a-color: #90b1e9;
    --a-background-color: rgb(100,100,100);
    --pre-background-color: #363636;
    --icon-background-color: rgb(180,180,180);
    --sidebar-toggler-background-color: rgb(180,180,180);
    --duration-background-color:rgba(0,0,0,0.4);
    --toggler-border: 1px solid rgba(160, 160, 160, 0.5);
    --toggler-background-color: rgb(80,80,80);
    --toggler-color: #292e35;
    --languages-toggler-filter: invert(100%);
    --theme-toggler-filter: invert(0%);
    --syncbtn-color: rgb(48, 114, 255);
    --src-btn-color: rgb(52, 52, 52);
    --keyword-background-color: rgba(65, 65, 65, 0.617);
    --info-background-color:#1e495f;
    --info-color:#c5ddef;
    --popup-background-color:#67a6ea;
    --keyword-color: rgb(246, 98, 75);
    --languages-dropdown-background-color: rgb(58, 58, 58);
    --languages-dropdown-box-shadow: 0 0 8px 2px black;
    --toggler-border-bottom: 1px solid rgb(80, 80, 80);
}

.white-theme {
    --background-color: #fff;
    --navbar-color: #fff;
    --navbar-text-color: #000;
    --main-background-color:#eef3fb;
    --main-text-color: #000;
    --second-text-color: #454e56;
    --third-text-color:rgba(120,120,120);
    --nav-link-color: #25265e;
    --nav-link-active-color:rgb(255, 119, 0);
    --nav-link-active-hover-color: rgb(254, 180, 116);
    --doc-section-background-color: #e8eaed;
    --doc-background-color: rgb(255,255,255);
    --doc-p-color: #000;
    --box-shadow-around: 0px 0px 2px 2px rgba(60,64,67,0.15);
    --sidebar-background-color: #fff;
    --sidebar-text-color: #000;
    --a-color: #498afb;
    --a-background-color: rgba(40,40,40,0.15);
    --pre-background-color: #1d1f21;
    --icon-background-color: transparent;
    --sidebar-toggler-background-color: white;
    --duration-background-color:rgba(127, 127, 127, 0.15);
    --toggler-border: 1px solid rgba(154, 154, 154, 0.5);
    --toggler-background-color: rgb(230, 230, 230);
    --toggler-color: #fff;
    --languages-toggler-filter: none;
    --theme-toggler-filter: invert(100%);
    --syncbtn-color: rgb(48, 114, 255);
    --src-btn-color: white;
    --keyword-background-color: rgba(255, 255, 255, 0.762);
    --info-background-color:#e1f5fe;
    --info-color:#01579b;
    --popup-background-color:#c8e3ff;
    --keyword-color: rgb(214, 35, 7);
    --languages-dropdown-background-color: rgb(255, 255, 255);
    --languages-dropdown-box-shadow: 0 0 6px 0 black;
    --toggler-border-bottom: 1px solid rgb(195, 195, 195);
}